.App {
  text-align: center;
}

.box {
  margin: 5px;
  background: red;
  position: relative;
  left: -150px;
  animation-name: mymove;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.box1 {
    width: 100px;
    height: 100px;
}

.box2 {
  width: 80px;
  height: 50px;
}

.box3 {
  width: 120px;
  height: 70px;
}

@keyframes mymove {
  from {left: -200px;}
  to {left: 0px;}
}
